/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.shadow
{
  box-shadow: var(--shadow);
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);
    color: var(--light-color )

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.text-main-light
{
    color: var(--light-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.loading{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    display:Flex;
    justify-content:center;
    align-items:center;
}

.brdr{
    border: 2px var(--main-color) solid
    /* padding: 10px ; */
}


.max-height 
{
  height: 390px;
}
/* ********footer******** */

.master
{
  width: 50px;
}
.store
{
  width: 100px;
}
/* *******forget-content****** */
.forget-content
{
  margin: 200px 0;
  padding: 100px 100px;
}

.alart1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 13px;right: -12px;
    font-size: 15px;
    font-weight: 900;
    background-color: #0aad0a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #f0f3f2;
}
.path-Link
{
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border-radius: 5px;
}
.dropdown-item:hover
{
 background-color: var(--light-color);
 transition: .5s;
}
.color-main
{
  color: var(--main-color) !important;
}


/* /////////////////////////////////////// */

.SignOut
{
  border: none;
}
.SignOut:hover
{
    color: var(--main-color);
}
.heart{
    border: none;

}
.heart:hover{
    color:red

}
.hearte{
    border: none;

}
.hearte:hover{
    color:blue

}

a , a:hover{
    color: black;
    text-decoration: none;
}
/* ******main slider**** */
.card-details
{
  box-shadow: var(--shadow);
  border: none !important;
  margin-top: 50px;
  overflow: hidden;
}
.details-btn
{
  background-color: var(--main-color);
  text-align: center;
  padding: 5px;
  margin-top: 100px;
  font-weight: bolder;
  transition: .5s;
}
.details-btn:hover 
{
  color: var(--light-color);
}
.slider-Height
{
  height: 200px;
}
/***cart style*****/